h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
.font-size{
    font-size: 25px;
}
.para{
    text-align: justify;
}
.top-heading{
    border-left: lawngreen solid;
}
.mission-color{
    color: rgb(252, 150, 78);
}
.color-2022{
    color: lawngreen;
}
.flexible-container{
    display: flex;
}
.half-width-first{
    width: 100%;
}
.half-width-first img{
    width: 50%;
    padding-left: 50%;
}
.half-width{
    width: 100%;
}
.half-width img{
    width: 50%;
    padding-right: 50%;
}
.mission-second-heading{
    text-align: center;
}
.mission-22{
    padding: 1em;
    border-radius: 20px;
    margin: 10px;
}
.color-m{
    background-color: rgb(197, 176, 176);
}
.color-v{
    background-color: rgb(241, 229, 206);
}
.color-g{
    background-color: wheat
}
.button{
    color: white;
    background-color: rgb(212, 133, 76);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.half-box{
    width: 100%;
    margin-right: 10%;
}
.half-box img{
    width: 100%;
    border-radius: 20%;
    padding-right: 50px;
}
.web-design{
    padding-top: 50px; 
}
.corona{
    text-align: center;
    font-size: 30px;
}
.corona-app{
    color: rgb(252, 150, 78);
}
.gocorona{
    color: rgb(252, 150, 78);
}
.foot{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    background-color: black;
}