h1{
    font-size: 40px;
}
.mission-color{
    color: rgb(252, 150, 78);
}
.explore-now{
    text-decoration: none;
    background-color: rgb(252, 150, 78);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 60%;
    padding-left: 10%;
}
.half-width img{
    width: 60%;
}
.mission-second-sec{
    text-align: center;
}
.second-sec-pic{
    box-shadow: red;
}